/* side nav menu */
.topnav{
    margin: 0%;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
/* nav links */
.topnav a{
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
/* active link */
.topnav a.active{
    background-color: #04aa6d;
    color: white;
}
/* link on mouse over */
.topnav a:hover:not(.active){
    background-color: #555;
    color: white;
}
/* page contect. value margin left property should match value of nav */
div.content{
    margin: 200px;
    padding: 1px 16px;
    height: 1000px;
}
/* screens less than 700px wide, side bar to top nav */
@media screen and (max-width: 700px) {
    .topnav{
        width: 100%;
        height: auto;
        position: relative;
    }
    .topnav a {float: left;}
    div.content{margin-left:0;}
}
/* screen less than 400px */
@media screen and (max-width: 400px) {
    .topnav a {
        text-align: center;
        float: none;
    }
}